<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    (function() {
      var storedTheme = localStorage.getItem("theme");
      var theme = storedTheme || "dark";
      document.documentElement.setAttribute("data-theme", theme);
    })();
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}?v={% cssVersion %}">
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  <script src="https://kit.fontawesome.com/2d42141d24.js" crossorigin="anonymous"></script>
</head>
<body>
  <script>
    requestAnimationFrame(function() {
      document.documentElement.classList.add("transitions-ready");
    });
  </script>

  {% include "nav.njk" %}

  {{ content | safe }}

  <footer>
    <div>
          <p>&copy; {% year %} {{ meta.siteName }}{% if meta.authorName %} • {{ meta.authorName }}{% endif %}</p>
    </div>
  </footer>

</body>
</html>