<button type="button" class="theme-icon">
  <i
    aria-hidden="true"
    class="fas fa-moon"
    title=""
  ></i>
  <i
    aria-hidden="true"
    class="fas fa-sun"
    title=""
  ></i>
  <span class="sr-only"></span>
</button>

<script type="text/javascript">
  {% include "src/_includes/theme-switch.js" %}
</script>